html{
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.bz-primary{
  background-color: #4346E9;
}
b{
  background-color: #00AF80;
  color: white;
  padding: 0 4px;
}

span{
  color: #4346E9;
  font-weight: bold;
}

.size-12 {
  font-size: 12px;
}

.size-15 {
  font-size: 15px;
}

.img{
  width: 100%;
}